.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;
	padding: 30px 100px;
	z-index: 100000;
}

.navbar .logo {
	position: relative;
	color: #fff;
	text-decoration: none;
	transition: 0.5s;
}

.sticky .logo {
	content: url('../logo\ white.svg');
}

.navbar ul {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 8px;
}

.navbar ul li {
	position: relative;
	list-style: none;
}

.navbar ul li a {
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: rgb(37, 37, 37);
	letter-spacing: 2px;
	font-weight: 500;
	transition: 0.5s;
}

.navbar ul li a:hover,
.navbar ul li a:focus {
	color: #03b0b9;
}

.sticky ul li a:hover {
	color: #fff;
	font-weight: 650;
}

.sticky {
	padding: 5px 100px;
	background: #03b0b9;
}

.sticky ul li a {
	color: white;
}

.sticky ul {
	top: 8px;
}
/* 
@media (min-width: 992px) {
    .logo {
        position: absolute;
        top: 50%;
        left: 8%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
} */
